
body {
	background-color: #eee;
}

.nav-link {
	margin: 5%;
}

.left {
	text-align: left;
}

.centralise {
	text-align: center;
}

.offsetVert {
	margin-top: 50px;
}

#header {
	display: flex;
	position: fixed;
	width: 100%;
}

#header-img {
	width: 30%;
	height: 30%;
}

#nav-bar {
	width: 70%;
	text-align: right; 
	align-self: right;
}

#contentContaner {
	width: 50%;
	text-align: center;
	margin: auto;
}

#email {
	height: 20px;
}

#submit {
	background-color: #f1c40f;
	margin: 10px;
	font-size: 1em;
	font-weight: bold; 
	padding: 10px;
	border-radius: 8px;
}

#submit:hover {
	background-color: orange;
}

#products {
	display: flex;
	justify-content: center;
	align-items: center;
}

#productItem {
	border: 1px solid;
}


